<section class="pt-1 pb-2 partners-section">
  <a href="https://www.versusvirus.ch/" target="_blank">
    <%= image_tag "versusvirus.png" %>
  </a>
  <a href="https://ec-epfl.ch/" target="_blank">
    <%= image_tag "ec.png" %>
  </a>
  <a href="https://www.reverse.ch/" target="_blank">
    <%= image_tag "reverse.png" %>
  </a>
  <a href="https://www.catta.ch/" target="_blank">
    <%= image_tag "catta.png" %>
  </a>
  <a href="https://seionline.ch/en" target="_blank">
    <%= image_tag "sei-online.png" %>
  </a>
  <a href="https://shipwrite.ch/" target="_blank">
    <%= image_tag "ship-write.png" %>
  </a>
  <a href="https://panter.ch/" target="_blank">
    <%= image_tag "panter.png" %>
  </a>
  <a href="https://bethecollective.world/" target="_blank">
    <%= image_tag "be-the-collective.png" %>
  </a>
</section>
