<div class='flex-container'>
  <div class='team'>
    <%=image_tag "Adrienne.png", alt: 'Adrienne' %>
    <p>Adrienne</p>
  </div>
  <div class='team'>
    <%=image_tag "Assia-Ouanaya.png", alt: 'Assia' %>
    <p>Assia</p>
  </div>
  <div class='team'>
    <%=image_tag "Leana-reverse.png", alt: 'Leana' %>
    <p>Leana</p>
  </div>
  <div class='team'>
    <%=image_tag "lorena-reverse.png", alt: 'Lorena' %>
    <p>Lorena</p>
  </div>
  <div class='team'>
    <%=image_tag "Lorenz-Jordi.png", alt: 'Lorenz' %>
    <p>Lorenz</p>
  </div>
  <div class='team'>
    <%=image_tag "Yves.png", alt: 'Yves' %>
    <p>Yves</p>
  </div>
</div>
