<div class='flex-container'>
  <div class='team'>
    <%=image_tag "Adrienne.png" %>
    <p>Adrienne</p>
  </div>
  <div class='team'>
    <%=image_tag "Assia-Ouanaya.png" %>
    <p>Assia</p>
  </div>
  <div class='team'>
    <%=image_tag "Leana-reverse.png" %>
    <p>Leana</p>
  </div>
  <div class='team'>
    <%=image_tag "lorena-reverse.png" %>
    <p>Lorena</p>
  </div>
  <div class='team'>
    <%=image_tag "Lorenz-Jordi.png" %>
    <p>Lorenz</p>
  </div>
</div>
