<h1 class="mt-3 mb-3">
  our
  <strong>Partners & Supporters </strong>
</h1>

<section class="pt-1 pb-2">
  <h2 class="pb-1">
    What is this about?
  </h2>
  <p>
    As an informal group of volunteers, we are extremely grateful for the valuable support of so many people and organizations, including:
  </p>
</section>

<section class="pt-1 pb-2">
  <a href="https://www.versusvirus.ch/" target="_blank" class="partner">
    <%= image_tag "versusvirus.png" %>
  </a>
  <a href="https://ec-epfl.ch/" target="_blank" class="partner">
    <%= image_tag "ec.png" %>
  </a>
  <a href="https://www.reverse.ch/" target="_blank" class="partner">
    <%= image_tag "reverse.png" %>
  </a>
  <a href="https://www.catta.ch/" target="_blank" class="partner">
    <%= image_tag "catta.jpg" %>
  </a>
  <a href="https://seionline.ch/en" target="_blank" class="partner">
    <%= image_tag "sei-online.jpg" %>
  </a>
  <a href="https://shipwrite.ch/" target="_blank" class="partner">
    <%= image_tag "ship-write.png" %>
  </a>
</section>
