<h1 class="mt-3 mb-3">
  unsere
  <strong>Partner und Unterst체tzer</strong>
</h1>

<section class="pt-1 pb-2">
  <p>
    Als eine informelle Gruppe von Freiwilligen sind wir 채usserst dankbar f체r die wertvolle Unterst체tzung so vieler Menschen und Organisationen, darunter:
  </p>
</section>

<section class="pt-1 pb-2 partners-section">
  <a href="https://www.versusvirus.ch/" target="_blank">
    <%= image_tag "versusvirus.png" %>
  </a>
  <a href="https://ec-epfl.ch/" target="_blank">
    <%= image_tag "ec.png" %>
  </a>
  <a href="https://www.reverse.ch/" target="_blank">
    <%= image_tag "reverse.png" %>
  </a>
  <a href="https://www.catta.ch/" target="_blank">
    <%= image_tag "catta.png" %>
  </a>
  <a href="https://seionline.ch/en" target="_blank">
    <%= image_tag "sei-online.png" %>
  </a>
  <a href="https://shipwrite.ch/" target="_blank">
    <%= image_tag "ship-write.png" %>
  </a>
</section>
