<h1 class="mt-3 mb-3">
  <%= t("letters.edit.title1") %>
  <strong><%= t("letters.edit.title2") %></strong>
</h1>

<p><%= t("letters.edit.hint") %></p>

<%= form_with(model: @letter, local: true, class: "pt-2 pb-2") do |form| %>

  <%= render "personal_form", form: form %>

<% end %>

