<h1 class="mt-2 mb-2">
  <%= t("letters.new.title1") %>
  <strong><%= t("letters.new.title2") %></strong>
</h1>


<div class="questions">
  <p>
    <%= t("letters.new.question1") %><br>
    <%= t("letters.new.question2") %><br>
    <%= t("letters.new.question3") %>
  </p>
</div>


<h2 class="mb-3">
  <%= t("letters.new.subtitle") %>
</h2>

<p class="mb-3">
  <%= t("letters.new.intro") %><br>
</p>

<%= form_with(model: @letter, local: true) do |form| %>
  <div class="trix">
    <p class="greeting"><%= t('letters.new.greeting') %></p>
    <%= form.rich_text_area :body, placeholder: t('letters.new.placeholder') %>
    <%= submit_tag t("letters.edit.submit"), class: "mt-2" %>
  </div>
<% end %>


<div class="offline mt-3">
  <p><%= t("letters.new.offline1") %></p>
  <p>
    <a href="/letter.<%= I18n.locale %>.pdf" class="button">
      <%= t("letters.new.offline2") %>
    </a>
    </a>
  </p>
</div>

<h3 class='mt-10 mb-1'>Instagram</h3>
<div class="feed mb-10">
  <% @feed_images.each do |img| %>
    <div class="item">
      <%= image_tag img %>
    </div>
  <% end %>
</div>
