<% content_for :seo do %>
  <title>Dear Switzerland - Letter <%= @letter.display_name %></title>
  <meta name="Description" CONTENT="Letter <%= @letter.display_name %> to Switzerland's future ">
  <meta property="og:title" content="Dear Switzerland - <%= @letter.display_name %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= instagram_preview(@letter) %>" />
  <meta property="og:description" content="Dear Switzerland - a venue to write a letter to Switzerland's future." />
  <meta property="og:site_name" content="Dear Switzerland" />
<% end %>

<div class="gallery mt-2">

  <%= render "show" %>

  <p class="mt-1"><%= @letter.display_name %></p>
  <% if @letter.private? %>
    <p class="mt-1"><%= t("letters.show.private") %></p>
  <% end %>

  <div class="share mt-1 mb-3">
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url_encode(request.original_url) %>" target="_blank">
    <%=image_tag "facebook"%>
  </a>
  <a href="https://www.instagram.com/?url=<%= url_encode(request.original_url) %>" target="_blank">
    <%=image_tag "instagram"%>
  </a>
    <a href="https://twitter.com/share?url=<%= url_encode(request.original_url) %>" target="_blank">
      <%=image_tag "twitter"%>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url_encode(request.original_url) %>" target="_blank">
      <%=image_tag "linkedin"%>
    </a>
  </div>

  <% if @prev %>
    <nav id="prev">
      <%= link_to image_tag("right.svg"), letter_path(@prev, filter_langs: @filter_langs) %>
  <% end %>
  </nav>
  <nav id="next">
    <% if @next %>
      <%= link_to image_tag("left.svg"), letter_path(@next, filter_langs: @filter_langs) %>
    <% end %>
  </nav>
</div>

