<%= render "filter" %>

<div class="gallery">
  <div class="letter">
    <%= @letter.body %>
  </div>
  <p class="mt-1"><%= @letter.display_name %></p>
  <% if @letter.private? %>
    <p class="mt-1"><%= t("letters.show.private") %></p>
  <% end %>
  <% if @letter.prev %>
    <nav id="prev">
      <%= link_to image_tag("right.svg"), @letter.prev %>
  <% end %>
  </nav>
  <nav id="next">
    <% if @letter.next %>
      <%= link_to image_tag("left.svg"), @letter.next %>
    <% end %>
  </nav>
</div>
