<h1 class="mt-2 mb-2">
<%= t("letters.thanks.title1") %>
  <strong><%= t("letters.thanks.title2") %></strong>
</h1>

<h2 class="mb-2"><%= t("letters.thanks.subtitle") %></h2>

<p><%= t("letters.thanks.p1") %></p>
<p><%= t("letters.thanks.p2") %> <%=mail_to("info@dearswitzerland.org") %></p>

