<% if @letter.body.present? %>
  <%= render "/letters/show" %>
<% end %>

<%= form_with(model: @letter, url: admin_letter_path(@letter.token), local: true, class: "pt-2 pb-2") do |form| %>

  <fieldset id="admin">
    <% if @letter.user_upload.present? %>
      <p>User uploaded letter:</p>
      <a class="button" href="<%= rails_blob_path(@letter.user_upload, disposition: "attachment") %>">
        Download original letter
      </a>

      <hr>

      <p class="mt-2">Reviewed letter (Please use PDF only in A4 format):</p>
      <% if @letter.reviewed_pdf.present? %>
        <a class="button" href="<%= rails_blob_path(@letter.reviewed_pdf, disposition: "attachment") %>">
          Download reviewed pdf
        </a>
        <%= letter_preview(@letter, :thumbnail) %>
  <% end %>
      <%= form.file_field :reviewed_pdf %>
  <% end %>

    <hr>
    <p class="mt-2">Only letters with state "accepted" are show on the website:</p>
    <%= form.select :status, Letter.statuses.keys %>

    <%= submit_tag "Save changes", class: "mt-2 mb-2" %>

  </fieldset>

  <%= render "/letters/personal_form", form: form %>

<% end %>

